:root {
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@media screen and (max-width: 600px) {
  :root {
    font-size: 10px;
  }
}
@media screen and (min-width: 3000px) {
  :root {
    font-size: 30px;
  }
}
